@import "./_color-palette.scss";

.preview-container {
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));

  > h2 {
    color: white;
    background: $main-gradient;
    padding: 1rem;
    margin: 0;
    text-align: center;
  }
}

.preview {
  width: 30rem;
  background-color: $bg-color;
  padding: 1rem;

  img {
    width: 100%;
    height: auto;
  }

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}
