//@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Ubuntu&family=Work+Sans:wght@500&display=swap");
@import "./scss/partials/typography";
@import "./scss/partials/color-palette";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  color: $font-color;
  line-height: 1.3rem;
  input,
  textarea {
    font-family: "Ubuntu", sans-serif;
    color: $font-color;
    line-height: 1.3rem;
  }
}

#root {
  @media (min-width: 576px) {
    padding: 2rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
  body {
    background-color: #171717;
  }
}

@each $h, $val in $heading-line-height {
  #{$h} {
    line-height: $val;
  }
}
